$codeEditor-background-color: #fff;
$codeEditor-body-border-color: #f7f7f7;
$codeEditor-body-boxshadow-color: #d8d8d8;

$codeEditor-handle-background-color: #f7f7f7;
$codeEditor-handle-border-color: darken(#d8d8d8, 8%);
$codeEditor-handle-color: darken(#d8d8d8, 8%);

$codeEditor-panel-border-color: darken(#d8d8d8, 8%);
$code-editor-panel-lbl-background-color: lighten(#d8d8d8, 10%);
